body {
  background-color: gainsboro;
  font-family: 'Patrick Hand', cursive;
}

h1 {font-family: 'Lobster', cursive;
} 
h2 {font-family: 'Lobster', cursive;    
}
p {font-family: 'Patrick Hand', cursive;
}
h3 {font-family: 'Lobster', cursive;
} 
